.btn {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}
.txt {
/*    -fx-background-color: transparent;*/
/*    -fx-border-color: transparent;*/
/*    -fx-text-fill: #ffffff;*/
/*    -fx-font-weight: bold;*/
    -fx-font-size: 17px;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

#boxType {
    -fx-font-size: 15,5px;
    /*-fx-background-color: transparent;*/
    -fx-alignment: CENTER;
}
#boxType .list-cell {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-background-color: #75736c;
    /*-fx-font-size: 16px;*/
    -fx-font-weight: bold;
}
.labelVacancy {
    -fx-font-size: 20px;
    -fx-text-fill: #310569;
    -fx-font-weight: bold;
}
.txtAccount {
    -fx-font-size: 18;
    -fx-text-fill: #310569;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}
#txtEmail {
    -fx-font-size: 13;
    -fx-text-fill: #310569;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}
#ParkingLotName {
    -fx-background-color: transparent; /* Make the background transparent */
    -fx-border-color: transparent; /* Remove the border */
    -fx-text-fill: #310569; /* Set the text color */
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-alignment: CENTER;
}
#table .colum {
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-text-fill: #310569;
}