.btnParking {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}
#btnUser {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}
#btnUser:hover {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}
#btnMenu {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}
#btnAboutUs {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}
#btnAccount {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}
#aboutUs {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}
#username {
    -fx-background-color: transparent;
    -fx-alignment: CENTER-RIGHT;
}
.arrow {
    animation: arrow-animation 1s infinite;
}
#btnCloseMenu {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;

}

@keyframes arrow-animation {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}
#slider {
    -fx-background-radius: 10; /* Bo tròn */
    -fx-border-radius: 10; /* Bo tròn */
    -fx-border-width: 2; /* Độ rộng viền */
    -fx-padding: 10; /* Khoảng cách giữa viền và nội dung */
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}